
<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="en-US">
 <head>
  <title>Create Category</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/site_global.css"/>
  <link rel="stylesheet" type="text/css" href="css/master_a-master.css"/>
  <link rel="stylesheet" type="text/css" href="css/create-category.css"/>
  <!-- JS includes -->
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?crc=4241844378" type="text/javascript"></script>
  <![endif]-->
   </head>
 <body>

  <div class="clearfix borderbox" id="page"><!-- column -->
   <div class="clearfix colelem" id="pu144"><!-- group -->
    <div class="clip_frame grpelem" id="u144"><!-- image -->
     <img class="block" id="u144_img" src="images/unnamed.png?crc=36759412" alt="" data-image-width="125" data-image-height="125"/>
    </div>
    <div class="clearfix grpelem" id="u123"><!-- group -->
     <div class="clearfix grpelem" id="u126-4"><!-- content -->
      <p align="center">Wecreu</p>
     </div>
    </div>
   </div>
   <nav class="MenuBar clearfix colelem" id="menuu285"><!-- horizontal box -->
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u293"><!-- vertical box -->
     <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u294" href="create-category.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u295-4"><!-- content --><p>Create Category</p></div></a>
    </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u543"><!-- vertical box -->
     <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u546" href="create-sale.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u549-4"><!-- content --><p>Create Sale</p></div></a>
    </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u564"><!-- vertical box -->
     <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u546" href="Admin.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u549-4"><!-- content --><p>Administrator Login</p></div></a>
    </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u585"><!-- vertical box -->
     <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u546" href="ManageInfo.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u549-4"><!-- content --><p>Manage Company Info</p></div></a>
    </div>
    
    
   </nav>
   <div class="clearfix colelem" id="u972-4"><!-- content -->
    <p>Administrator Login</p>
   </div>
   <div class="clearfix colelem" id="pu975-4"><!-- group -->
    
     <form>
		 Name:     <input type="text" name="first_name" value="" maxlength="50" style="border: 1px solid black; margin-left:24px;" /> <br/><br/>
                 Password: <input type="text" name="password" value="" maxlength="50" style="border: 1px solid black;" /> <br/><br/>
                       <input type="submit" value="Submit" style="margin-left: 120px; width: 60px; border-radius: 2px; height: 20px"><br/><br/><br/>
                       <input type="submit" value="Forgot Password?" style="margin-left: 80px; width: 150px; border-radius: 2px; height: 20px">
     </form>
    
   </div>
   <div class="clearfix colelem" id="u162-4"><!-- content -->
    <p>Copyright Wecreu 2017</p>
   </div>
  </div>
   </body>
</html>
