@charset "utf-8";
.version.index {
	color: #0000EC;
	background-color: #D8BDAF;
}
#page {
	z-index: 1;
	min-height: 857px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 65px;
	padding-bottom: 78px;
	width: 100%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
#pu144 {
	z-index: 7;
	width: 71.95%;
	margin-left: 13.48%;
}
#u144 {
	z-index: 7;
	position: relative;
	margin-right: -10000px;
	width: 12.07%;
}
#u123 {
	z-index: 2;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 75.58%;
	left: 24.43%;
}
#u126-4 {
	z-index: 3;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 77.66%;
	left: 13.41%;
}
#menuu285 {
	z-index: 13;
	margin-top: 49px;
	position: relative;
	width: 80.84%;
	margin-left: 9.59%;
}
#u293 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.09%;
}
#u294 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u294:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u294:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u295-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u294:hover #u295-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u294:active #u295-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u543 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.09%;
	left: 14.27%;
}
#u546 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u294.MuseMenuActive, #u546:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u546:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u549-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u294.MuseMenuActive #u295-4, #u546:hover #u549-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u546:active #u549-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u564 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.09%;
	left: 28.53%;
}
#u567 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u546.MuseMenuActive, #u567:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u567:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u568-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u546.MuseMenuActive #u549-4, #u567:hover #u568-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u567:active #u568-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u585 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.18%;
	left: 42.79%;
}
#u588 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u567.MuseMenuActive, #u588:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u588:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u589-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u567.MuseMenuActive #u568-4, #u588:hover #u589-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u588:active #u589-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u606 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.18%;
	left: 57.14%;
}
#u609 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u588.MuseMenuActive, #u609:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u609:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u611-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u588.MuseMenuActive #u589-4, #u609:hover #u611-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u609:active #u611-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u627 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.18%;
	left: 71.48%;
}
#u628 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u609.MuseMenuActive, #u628:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u628:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u630-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u609.MuseMenuActive #u611-4, #u628:hover #u630-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u628:active #u630-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u648 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.18%;
	left: 85.83%;
}
#u651 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u628.MuseMenuActive, #u651:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u651:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u651.MuseMenuActive {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u653-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u628.MuseMenuActive #u630-4, #u651:hover #u653-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u651:active #u653-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u651.MuseMenuActive #u653-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
.css_verticalspacer .verticalspacer {
	height: calc(100vh - 1000px);
}
#u162-4 {
	z-index: 9;
	margin-top: 632px;
	position: relative;
	width: 10.98%;
	margin-left: 44.52%;
}
#muse_css_mq, .html {
	background-color: #FFFFFF;
}
body {
	position: relative;
	min-width: 1200px;
}
#u144_img {
	width: 100%;
}
