html{
	background-color:#ffffff;
}

body{
	height:1000px;
	width:1440px;
	background-color:#ffff99;
}

/*---Header---*/
header{
	background: linear-gradient(#CAE1FF, #6495ED);
	border: 1px solid black;
	height:140px;
	
}
header img{
	float:left;
	margin:5px 75px;
}
header h1{
	float:center;
	border:1px solid black;
	text-align:center;
	background-color:white;
	clear:right;
	margin:auto; /*25px 200px 25px 310px;*/
	padding: 12px;
	width:60%;
}

header form{
	float:right;
	margin:10px;
}

/*---Middle Part---*/


div.middle{
	background: linear-gradient(#CAE1FF, #6495ED);
	height: 650px;
}

div.content{
	float: left;
	padding:50px;
	width:65%;
	height:550px;
	overflow:scroll;
}

img.slides{
	display:none;/*used tutorial at https://www.w3schools.com/w3css/w3css_slideshow.asp*/
}

/*home-page specific*/
div.info{
		float:right;
		font-size:20pt;
		margin:20px;
		
}


/*good-list specific*/
div.gooditem{
	width:200px;
	height:200px;
	margin:10px;
	border: 1px solid #000000;
	float:left;
	display:block;
	text-decoration:none;
	text-align:center;
}

/*good-detail specific*/
div.goodimage{
	margin:10px 300px;
}



div.goodinfo{
	border: 1px solid #000000;
	padding:40px;
}

div.goodinfo.table{
	float:right;
	padding:20px;
}

/*shopping cart-manage goods-specific*/
table, th, tr, td{
	padding:20px;
}

.button{
	max-width:110px;
	height:35px;
	background-color: #CAE1FF;
	cursor:pointer;
	border:none;
	display:block;
	text-align:center;
	text-decoration:none;
	color:#000000;
	padding:5px;
}

.submit{
	width:80px;
	height:30px;
	background-color: #ff0000;
	cursor:pointer;
	border:none;
	display:block;
	text-align:center;
	text-decoration:none;
	color:#ffffff;
	padding:5px;
	margin-left:50px;
}


/*---Category Menu---*/

div.categories{
	float:right;
	overflow:scroll;
	border:1px solid black;
	width:25%;
	background-color:#CAE1FF;
	height:648px;
	
}

div.categories ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

div.categories ul li a{
	display:block;
	text-align:center;
	padding:15px 30px;
	text-decoration:none;
	border-bottom:1px solid #000000;
}

div.categories ul li a:hover{
	background: radial-gradient(#ffffff, #CAE1FF);
}

div.categories ul li a:hover:not(.active){
	background-color:#ffffff;
}

/*---Navigation Bar---*/


nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	border-top:1px solid #000000;
	height:74px;
	background-color:#6495ED;
}

nav ul li{
	float:left;
	border-right:1px solid #000000;
}

nav ul li a{
	display:block;
	text-align:center;
	padding: 20px 30px;
	text-decoration:none;
	height:30px;
	color:#000000
}

nav ul li a:hover{
	background: radial-gradient(#CAE1FF, #6495ED);
}

nav ul li a:hover:not(.active){
	background-color: #6495ED;
}


/*---Footer---*/

footer{
	background: linear-gradient(#CAE1FF, #6495ED);
	height:134px;
	float:bottom;
	margin:0;
}