.version.untitled_8 {
	color: #0000E7;
	background-color: #F4E1F9;
}
#page {
	z-index: 1;
	min-height: 857px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 65px;
	padding-bottom: 78px;
	width: 100%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
#pu144 {
	z-index: 7;
	width: 71.95%;
	margin-left: 13.48%;
}
#u144 {
	z-index: 7;
	position: relative;
	margin-right: -10000px;
	width: 12.07%;
}
#u123 {
	z-index: 2;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 75.58%;
	left: 24.43%;
}
#u126-4 {
	z-index: 3;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 77.66%;
	left: 13.41%;
}
#menuu285 {
	z-index: 13;
	margin-top: 49px;
	position: relative;
	width: 80.84%;
	margin-left: 9.59%;
}
#u293 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.09%;
}
#u294 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u294:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u294:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u295-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u294:hover #u295-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u294:active #u295-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u543 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.09%;
	left: 14.27%;
}
#u546 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u294.MuseMenuActive, #u546:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u546:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u549-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u294.MuseMenuActive #u295-4, #u546:hover #u549-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u546:active #u549-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u564 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.09%;
	left: 28.53%;
}
#u567 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u546.MuseMenuActive, #u567:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u567:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u568-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u546.MuseMenuActive #u549-4, #u567:hover #u568-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u567:active #u568-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u585 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.18%;
	left: 42.79%;
}
#u588 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u567.MuseMenuActive, #u588:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u588:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u589-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u567.MuseMenuActive #u568-4, #u588:hover #u589-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u588:active #u589-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u606 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.18%;
	left: 57.14%;
}
#u609 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u588.MuseMenuActive, #u609:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u609:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u611-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u588.MuseMenuActive #u589-4, #u609:hover #u611-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u609:active #u611-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u627 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.18%;
	left: 71.48%;
}
#u628 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u609.MuseMenuActive, #u628:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u628:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u630-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u609.MuseMenuActive #u611-4, #u628:hover #u630-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u628:active #u630-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u648 {
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 14.18%;
	left: 85.83%;
}
#u651 {
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}
#u628.MuseMenuActive, #u651:hover {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u651:active {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u651.MuseMenuActive {
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}
#u653-4 {
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}
#u628.MuseMenuActive #u630-4, #u651:hover #u653-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u651:active #u653-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u651.MuseMenuActive #u653-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}
#u1099 {
	z-index: 56;
	background-color: transparent;
	margin-top: 95px;
	position: relative;
	width: 20.84%;
	margin-left: 39.59%;
}
#pbuttonu1178 {
	z-index: 105;
	margin-top: 47px;
	width: 40.7%;
	margin-left: 29.66%;
}
#buttonu1178 {
	z-index: 105;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	width: 39.42%;
}
#buttonu1178:hover {
	background-color: #545454;
	min-height: 0px;
	width: 39.42%;
	margin: 0px -10000px 0px 0%;
}
#u1179-4 {
	z-index: 106;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	width: 51.52%;
	left: 24.25%;
}
#buttonu1178:hover #u1179-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 14px -10000px 0px 0%;
}
#buttonu1178.ButtonSelected #u1179-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 14px -10000px 0px 0%;
}
#buttonu1178:hover #u1179-4 p {
	color: #FFFFFF;
	visibility: inherit;
}
#buttonu1187 {
	z-index: 110;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	width: 39.42%;
	left: 60.59%;
}
#buttonu1187:hover {
	background-color: #545454;
	min-height: 0px;
	width: 39.42%;
	margin: 0px -10000px 0px 0%;
}
#buttonu1178.ButtonSelected, #buttonu1187.ButtonSelected {
	background-color: #CACACA;
	min-height: 0px;
	width: 39.42%;
	margin: 0px -10000px 0px 0%;
}
#u1188-4 {
	z-index: 111;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 51.52%;
	left: 24.25%;
}
#buttonu1187:hover #u1188-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 13px -10000px 0px 0%;
}
#buttonu1187.ButtonSelected #u1188-4 {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 13px -10000px 0px 0%;
}
#buttonu1187:hover #u1188-4 p {
	color: #FFFFFF;
	visibility: inherit;
}
#buttonu1178.ButtonSelected #u1179-4 p, #buttonu1187.ButtonSelected #u1188-4 p {
	color: #3C3C3C;
	visibility: inherit;
}
#pu1172 {
	z-index: 77;
	margin-top: 47px;
	width: 49.24%;
	margin-left: 25.42%;
}
#u1172 {
	z-index: 77;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 42.46%;
}
#u1157 {
	z-index: 78;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	width: 100%;
}
#u1115-4 {
	z-index: 79;
	min-height: 15px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 47.85%;
}
#u1136-4 {
	z-index: 83;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	width: 42.86%;
	left: 57.15%;
}
#u1160 {
	z-index: 87;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
	width: 100%;
}
#u1118-4 {
	z-index: 88;
	min-height: 15px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 47.85%;
}
#u1139-4 {
	z-index: 92;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	width: 42.86%;
	left: 57.15%;
}
#u1163 {
	z-index: 96;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
	width: 100%;
}
#u1124-4 {
	z-index: 97;
	min-height: 15px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 47.85%;
}
#u1154-4 {
	z-index: 101;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	width: 42.86%;
	left: 57.15%;
}
#u1175 {
	z-index: 58;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 41.75%;
	left: 58.26%;
}
#u1166 {
	z-index: 59;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	width: 100%;
}
#u1127-4 {
	z-index: 60;
	min-height: 15px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 48.65%;
}
#u1142-4 {
	z-index: 64;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	width: 43.59%;
	left: 56.42%;
}
#u1169 {
	z-index: 68;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
	width: 100%;
}
#u1130-4 {
	z-index: 69;
	min-height: 15px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 48.65%;
}
#u1151-4 {
	z-index: 73;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	width: 43.59%;
	left: 56.42%;
}
.css_verticalspacer .verticalspacer {
	height: calc(100vh - 1078px);
}
#u162-4 {
	z-index: 9;
	margin-top: 55px;
	position: relative;
	width: 10.98%;
	margin-left: 44.52%;
}
#muse_css_mq, .html {
	background-color: #FFFFFF;
}
body {
	position: relative;
	min-width: 1200px;
}
#u1099_img, #u144_img {
	width: 100%;
}
