<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Green Template</title>
<link href="css/site_global.css" rel="stylesheet" type="text/css">
<link href="css/master_a-master.css" rel="stylesheet" type="text/css">
<link href="css/detail.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="clearfix borderbox" id="page"><!-- column -->
  <div class="clearfix search" id="u256">
    <input type="text">
    <button>Search</button>
  </div>
  <div class="clearfix colelem" id="pu144"><!-- group -->
    <div class="clip_frame grpelem" id="u144"><!-- image --> 
      <img class="block" id="u144_img" src="images/unnamed.png" alt="" data-image-width="300" data-image-height="300"/> </div>
    <div class="clearfix grpelem" id="u123"><!-- group -->
      <div class="clearfix grpelem" id="u126-4"><!-- content -->
        <p>Mark Anthony's Company</p>
      </div>
    </div>
  </div>
  <nav class="MenuBar clearfix colelem" id="menuu285"><!-- horizontal box -->
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u293"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u294" href="index.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u295-4"><!-- content -->
        <p>Home</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u543"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u546" href="products.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u549-4"><!-- content -->
        <p>Products</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u564"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u567" href="faq.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u568-4"><!-- content -->
        <p>FAQ</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u585"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u588" href="cart.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u589-4"><!-- content -->
        <p>Cart</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u606"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u609" href="about-us.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u611-4"><!-- content -->
        <p>About Us</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u627"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u628" href="logout.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u630-4"><!-- content -->
        <p>Logout</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u648"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u651" href="settings.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u653-4"><!-- content -->
        <p>Settings</p>
      </div>
      </a> </div>
  </nav>
 <div class="clip_frame colelem" id="u1099"><!-- image -->
    <img class="block" id="u1099_img" src="images/pr_source.jpg?crc=3982063630" alt="" data-image-width="300" data-image-height="300"/>
   </div>
   <div class="clearfix colelem" id="pbuttonu1178"><!-- group -->
    <div class="Button rounded-corners clearfix grpelem" id="buttonu1178"><!-- container box -->
     <div class="clearfix grpelem" id="u1179-4"><!-- content -->
      <a>Add to cart</a>
     </div>
    </div>
    <div class="Button rounded-corners clearfix grpelem" id="buttonu1187"><!-- container box -->
     <div class="clearfix grpelem" id="u1188-4"><!-- content -->
      <a href="products.html">Back</a>
     </div>
    </div>
   </div>
   <div class="clearfix colelem" id="pu1172"><!-- group -->
    <div class="clearfix grpelem" id="u1172"><!-- column -->
     <div class="clearfix colelem" id="u1157"><!-- group -->
      <div class="clearfix grpelem" id="u1115-4"><!-- content -->
       <p>Product Name:</p>
      </div>
      <div class="clearfix grpelem" id="u1136-4"><!-- content -->
       <p>Whole Cow</p>
      </div>
     </div>
     <div class="clearfix colelem" id="u1160"><!-- group -->
      <div class="clearfix grpelem" id="u1118-4"><!-- content -->
       <p>Category:</p>
      </div>
      <div class="clearfix grpelem" id="u1139-4"><!-- content -->
       <p>Food</p>
      </div>
     </div>
     <div class="clearfix colelem" id="u1163"><!-- group -->
      <div class="clearfix grpelem" id="u1124-4"><!-- content -->
       <p>Description:</p>
      </div>
      <div class="clearfix grpelem" id="u1154-4"><!-- content -->
       <p>Whole sale cow</p>
      </div>
     </div>
    </div>
    <div class="clearfix grpelem" id="u1175"><!-- column -->
     <div class="clearfix colelem" id="u1166"><!-- group -->
      <div class="clearfix grpelem" id="u1127-4"><!-- content -->
       <p>Quantity:</p>
      </div>
      <div class="clearfix grpelem" id="u1142-4"><!-- content -->
       <p>100</p>
      </div>
     </div>
     <div class="clearfix colelem" id="u1169"><!-- group -->
      <div class="clearfix grpelem" id="u1130-4"><!-- content -->
       <p>Weight:</p>
      </div>
      <div class="clearfix grpelem" id="u1151-4"><!-- content -->
       <p>1000 - 2000 lbs</p>
      </div>
     </div>
    </div>
   </div>
   <div class="verticalspacer" data-offset-top="929" data-content-above-spacer="929" data-content-below-spacer="149"></div>
   <div class="clearfix colelem" id="u162-4"><!-- content -->
    <p>Copyright Wecreu 2017</p>
   </div>
  </div>
</body>
</html>
