<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Green Template</title>
<link href="css/site_global.css" rel="stylesheet" type="text/css">
<link href="css/master_a-master.css" rel="stylesheet" type="text/css">
<link href="css/logout.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="clearfix borderbox" id="page"><!-- column -->
  <div class="clearfix search" id="u256">
    <input type="text">
    <button>Search</button>
  </div>
  <div class="clearfix colelem" id="pu144"><!-- group -->
    <div class="clip_frame grpelem" id="u144"><!-- image --> 
      <img class="block" id="u144_img" src="images/unnamed.png" alt="" data-image-width="300" data-image-height="300"/> </div>
    <div class="clearfix grpelem" id="u123"><!-- group -->
      <div class="clearfix grpelem" id="u126-4"><!-- content -->
        <p>Mark Anthony's Company</p>
      </div>
    </div>
  </div>
  <nav class="MenuBar clearfix colelem" id="menuu285"><!-- horizontal box -->
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u293"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u294" href="index.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u295-4"><!-- content -->
        <p>Home</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u543"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u546" href="products.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u549-4"><!-- content -->
        <p>Products</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u564"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u567" href="faq.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u568-4"><!-- content -->
        <p>FAQ</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u585"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u588" href="cart.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u589-4"><!-- content -->
        <p>Cart</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u606"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u609" href="about-us.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u611-4"><!-- content -->
        <p>About Us</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u627"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive borderbox clearfix colelem" id="u628" href="logout.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u630-4"><!-- content -->
        <p>Logout</p>
      </div>
      </a> </div>
    <div class="MenuItemContainer borderbox clearfix grpelem" id="u648"><!-- vertical box --> 
      <a class="nonblock nontext MenuItem MenuItemWithSubMenu borderbox clearfix colelem" id="u651" href="settings.html"><!-- horizontal box -->
      <div class="MenuItemLabel NoWrap borderbox clearfix grpelem" id="u653-4"><!-- content -->
        <p>Settings</p>
      </div>
      </a> </div>
  </nav>
  <div class="verticalspacer" data-offset-top="0" data-content-above-spacer="273" data-content-below-spacer="727"></div>
  <div class="clearfix colelem" id="u162-4"><!-- content -->
    <p>Copyright Wecreu 2017</p>
  </div>
</div>
</body>
</html>
